Repository werf/website, pull requests merged in 2021-12, with the labels that each got.

#358 site: fix artifact generation
  .werf/artifacts/feed-group-channel-ru.xml-template
  .werf/artifacts/feed-group-channel.xml-template
  .werf/artifacts/feeds.tgz.base64
  .werf/artifacts/releases.json
  .werf/artifacts/releases_history.json
  _data/_common/channels_info.yml
  _data/_common/channels_versions.json
  _data/_common/releases.json
  _data/_common/releases_history.json
  _data/ru/channels_info.yml
  _data/ru/channels_versions.json
  _data/ru/releases.json
  _data/ru/releases_history.json
  pages_en/feed.xml
  pages_en/installation.md
  pages_ru/feed.xml
  pages_ru/installation.md
  werf.yaml
Labels: test guides

#360 site: syncing updates from the werf/werf repo
  _config_en.yml
  _config_ru.yml
  _includes/en/installation/binary_linux.md
  _includes/en/installation/binary_macos.md
  _includes/en/installation/binary_windows.md
  _includes/en/installation/installer_linux_macos.md
  _includes/en/installation/installer_windows.md
  _includes/en/installation/trdl_linux.md
  _includes/en/installation/trdl_macos.md
  _includes/en/installation/trdl_windows.md
  _includes/ru/installation/binary_linux.md
  _includes/ru/installation/binary_macos.md
  _includes/ru/installation/binary_windows.md
  _includes/ru/installation/installer_linux_macos.md
  _includes/ru/installation/installer_windows.md
  _includes/ru/installation/trdl_linux.md
  _includes/ru/installation/trdl_macos.md
  _includes/ru/installation/trdl_windows.md
  assets/js/installation.js
  install.sh
  kubedog.asc
  pages_en/installation.md
  pages_ru/installation.md
  werf.asc
  werf.yaml
Labels: test guides

#357 [docs] Translate NodeJS includes
  _includes/en/guides/200_real_apps/020_logging/nodejs/005_default_channel.md.liquid
  _includes/en/guides/200_real_apps/020_logging/nodejs/025_log_parsing.md.liquid
  _includes/en/guides/200_real_apps/020_logging/nodejs/030_installing_json.md.liquid
  _includes/en/guides/200_real_apps/020_logging/nodejs/033_default_json.md.liquid
  _includes/en/guides/200_real_apps/020_logging/nodejs/037_logs_via_variable.md.liquid
  _includes/en/guides/200_real_apps/030_assets/nodejs/003_image_page.md.liquid
  _includes/en/guides/200_real_apps/030_assets/nodejs/005_distribution_static_files.md.liquid
  _includes/en/guides/200_real_apps/030_assets/nodejs/010_build_and_deployment.md.liquid
  _includes/en/guides/200_real_apps/030_assets/nodejs/030_framework_scaling.md.liquid
  _includes/en/guides/200_real_apps/040_db/nodejs/001_preparing_stateful_app.md.liquid
  _includes/en/guides/200_real_apps/040_db/nodejs/005_major_changes.md.liquid
  _includes/en/guides/200_real_apps/040_db/nodejs/010_new_controllers.md.liquid
  _includes/en/guides/200_real_apps/040_db/nodejs/015_two_simple_migrations.md.liquid
  _includes/en/guides/200_real_apps/040_db/nodejs/020_setup_db_work.md.liquid
  _includes/en/guides/200_real_apps/050_s3/nodejs/001_preparing.md.liquid
  _includes/en/guides/200_real_apps/050_s3/nodejs/035_minio_configuration.md.liquid
  _includes/en/guides/200_real_apps/080_configuration/nodejs/055_loginpas_storage.md.liquid
  _includes/ru/guides/200_real_apps/020_logging/nodejs/037_logs_via_variable.md.liquid
  _includes/ru/guides/200_real_apps/030_assets/nodejs/003_image_page.md.liquid
  _includes/ru/guides/200_real_apps/030_assets/nodejs/005_distribution_static_files.md.liquid
  _includes/ru/guides/200_real_apps/030_assets/nodejs/010_build_and_deployment.md.liquid
  _includes/ru/guides/200_real_apps/030_assets/nodejs/030_framework_scaling.md.liquid
  _includes/ru/guides/200_real_apps/040_db/nodejs/005_major_changes.md.liquid
  _includes/ru/guides/200_real_apps/040_db/nodejs/020_setup_db_work.md.liquid
  _includes/ru/guides/200_real_apps/050_s3/nodejs/001_preparing.md.liquid
  _includes/ru/guides/200_real_apps/050_s3/nodejs/035_minio_configuration.md.liquid
  examples/nodejs/020_logging/app.js
  examples/nodejs/030_assets/.werf/nginx.conf
  examples/nodejs/040_db/.werf/nginx.conf
  examples/nodejs/050_s3/.werf/nginx.conf
  examples/nodejs/080_configuration/.helm/templates/configmap-nginx.yaml
Labels: scope: guides

#363 Delete WIP status from english nodejs real apps
  pages_en/guides/nodejs/200_real_apps/010_basic_app.md
  pages_en/guides/nodejs/200_real_apps/020_logging.md
  pages_en/guides/nodejs/200_real_apps/030_assets.md
  pages_en/guides/nodejs/200_real_apps/040_db.md
  pages_en/guides/nodejs/200_real_apps/050_s3.md
  pages_en/guides/nodejs/200_real_apps/080_configuration.md
Labels: test guides

#370 docs(introduction): small improvements
  .helm/templates/_rewrites.tpl
  _data/en/topnav.yml
  _data/ru/topnav.yml
  _includes/_common/topnav-documentation.html
  _includes/_common/topnav.html
  pages_en/how_it_works.md
  pages_en/index.md
  pages_ru/how_it_works.md
  pages_ru/index.md
Labels: test guides

#371 docs(installation): small improvements
  _includes/en/installation/installer_windows.md
  assets/js/installation.js
  pages_en/installation.md
  pages_ru/installation.md
Labels: test guides

#368 Guides small fixes
  _includes/en/guides/100_basic/20_cluster/has_cluster.md.liquid
  _includes/en/guides/200_real_apps/080_configuration.md.liquid
  _includes/ru/guides/100_basic.md.liquid
  _includes/ru/guides/100_basic/20_cluster.md.liquid
  _includes/ru/guides/100_basic/20_cluster/has_cluster.md.liquid
  _includes/ru/guides/100_basic/30_deploy.md.liquid
  _includes/ru/guides/100_basic/40_must_haves.md.liquid
  _includes/ru/guides/200_real_apps.md.liquid
  _includes/ru/guides/200_real_apps/080_configuration.md.liquid
  pages_ru/guides/django/100_basic.md
  pages_ru/guides/framework_id/100_basic.md
  pages_ru/guides/golang/100_basic.md
  pages_ru/guides/java_springboot/100_basic.md
  pages_ru/guides/laravel/100_basic.md
  pages_ru/guides/nodejs/100_basic.md
  pages_ru/guides/rails/100_basic.md
Labels: test guides

#373 Comments fix
  _includes/ru/guides/chapter_prepare_repo_commands.md.liquid
Labels: test guides

#375 [docs] EN guides - updates to reflect changes in RU
  _includes/en/guides/100_basic.md.liquid
  _includes/en/guides/100_basic/20_cluster.md.liquid
  _includes/en/guides/100_basic/30_deploy.md.liquid
  _includes/en/guides/100_basic/40_must_haves.md.liquid
  _includes/en/guides/200_real_apps.md.liquid
  pages_en/guides/django/100_basic.md
  pages_en/guides/golang/100_basic.md
  pages_en/guides/java_springboot/100_basic.md
  pages_en/guides/laravel/100_basic.md
  pages_en/guides/nodejs/100_basic.md
  pages_en/guides/rails/100_basic.md
Labels: test guides, scope: guides

#377 docs(installation): fix en page and tabs logic
  assets/js/installation.js
  pages_en/installation.md
Labels: test guides

#382 site: rename the repo and the master branch to the main branch
  .github/workflows/content_validation.yml
  .github/workflows/deploy.yml
  DEVELOPMENT.md
  README.md
  _config.yml
  _config_en.yml
  _config_ru.yml
  _includes/_common/snippetcut_example
  assets/js/customscripts.js
  pages_en/guides/laravel/200_real_apps/030_assets.md
  pages_en/guides/laravel/200_real_apps/040_db.md
  pages_en/guides/laravel/200_real_apps/050_s3.md
  pages_en/guides/laravel/200_real_apps/080_configuration.md
  pages_en/guides/nodejs/200_real_apps/030_assets.md
  pages_en/guides/nodejs/200_real_apps/040_db.md
  pages_en/guides/nodejs/200_real_apps/050_s3.md
  pages_en/guides/nodejs/200_real_apps/080_configuration.md
  pages_en/guides/rails/200_real_apps/030_assets.md
  pages_en/guides/rails/200_real_apps/040_db.md
  pages_en/guides/rails/200_real_apps/050_s3.md
  pages_en/guides/rails/200_real_apps/080_configuration.md
  pages_ru/guides/framework_id/200_real_apps/030_assets.md
  pages_ru/guides/framework_id/200_real_apps/040_db.md
  pages_ru/guides/framework_id/200_real_apps/050_s3.md
  pages_ru/guides/framework_id/200_real_apps/080_configuration.md
  pages_ru/guides/laravel/200_real_apps/030_assets.md
  pages_ru/guides/laravel/200_real_apps/040_db.md
  pages_ru/guides/laravel/200_real_apps/050_s3.md
  pages_ru/guides/laravel/200_real_apps/080_configuration.md
  pages_ru/guides/nodejs/200_real_apps/030_assets.md
  pages_ru/guides/nodejs/200_real_apps/040_db.md
  pages_ru/guides/nodejs/200_real_apps/050_s3.md
  pages_ru/guides/nodejs/200_real_apps/080_configuration.md
  pages_ru/guides/rails/200_real_apps/030_assets.md
  pages_ru/guides/rails/200_real_apps/040_db.md
  pages_ru/guides/rails/200_real_apps/050_s3.md
  pages_ru/guides/rails/200_real_apps/080_configuration.md
  pages_ru/guides/rails/200_real_apps/110_configuration_deprecated.md
  pages_ru/guides/rails/200_real_apps/60_cron.md
Labels: test guides

#384 How_it_works English fix
  pages_en/how_it_works.md
Labels: test guides

#385 Golang best practices fix
  pages_ru/guides/golang/300_deployment_practices.md
  pages_ru/guides/golang/300_deployment_practices/010_life_cycle.md
  pages_ru/guides/golang/300_deployment_practices/020_high_availability.md
  pages_ru/guides/golang/300_deployment_practices/030_resource_management.md
Labels: test guides

#388 werf 1.2 publications
  _data/en/publications.yml
  _data/ru/publications.yml
  assets/images/publications/en_141221.png
  assets/images/publications/ru_141221.png
Labels: test guides

#387 docs(installation): add Buildah backend setup instructions
  _includes/en/installation/setup_buildah.md
  _includes/ru/installation/setup_buildah.md
  _includes/ru/installation/trdl_linux.md
  pages_en/installation.md
  pages_ru/installation.md
Labels: test guides

#390 Guides deploy fix
  _includes/ru/guides/100_basic/30_deploy.md.liquid
Labels: test guides

#391 docs: EN update to reflect changes in PR 390
  _includes/en/guides/100_basic/30_deploy.md.liquid
Labels: scope: guides

#378 Guide chapter layout improvements
  Gemfile.lock
  _data/en/guides/ask_and_star_buttons.yaml
  _data/ru/guides/ask_and_star_buttons.yaml
  _includes/_layouts/guides/ask_and_star_buttons.html
  _includes/_layouts/guides/page_to_page_guide.liquid
  _includes/_layouts/guides/sidebar.html.liquid
  _includes/en/guides/chapter_initial_prepare_cluster.md.liquid
  _includes/ru/guides/chapter_initial_prepare_cluster.md.liquid
  _layouts/default-guides.html
  _layouts/default.html
  _layouts/guides-page-base.html
  _layouts/guides-wip.html
  assets/css/customstyles-guides.scss
  assets/css/docs-guides.scss
  assets/css/docs.css
  assets/images/arrow-guides.svg
  assets/images/crane.svg
  assets/images/icons/maintanance-mini.svg
  assets/js/environment.js
Labels: test guides

#396 Fixed development news block on main page
  _includes/_common/head-common.html
  _layouts/default.html
  assets/js/customscripts.js
Labels: test guides

#400 Guides: adding social tags to the landing page
  _layouts/guides-landing.html
Labels: test guides

#401 Publications block on main page
  _data/en/topnav.yml
  _data/ru/topnav.yml
  _includes/_common/publications.html
  _includes/_common/topnav-documentation.html
  _includes/_common/topnav.html
  assets/css/index.css
  assets/images/illustrations/publications-1.svg
  assets/images/illustrations/publications-2.svg
  assets/images/illustrations/test-pic.jpg
  pages_en/index.md
  pages_en/publications.html
  pages_ru/index.md
  pages_ru/publications.html
Labels: test website

#408 site: reworked guides tiles
  _data/_common/frameworks.yml
  _includes/_common/guides-landing-tile.html
  _includes/_common/guides-landing-tiles.html
  assets/css/customstyles-guides.scss
  assets/css/guides.css
  assets/images/arrow-guides-tiles.svg
  assets/images/landing/django.svg
  assets/images/landing/golang.svg
  assets/images/landing/java_springboot.svg
  assets/images/landing/nodejs.svg
Labels: test website
